<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Account</title>
  <link rel="stylesheet" type="text/css" media="all" href="/css/forms.css" th:href="@{/css/forms.css}"/>
  <link rel="stylesheet" type="text/css" media="all" href="/css/fragments.css" th:href="@{/css/fragments.css}"/>
  <link rel="stylesheet" type="text/css" media="all" href="/css/main.css" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
  <script defer th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}">
  </script>
</head>
<body>
<div th:replace="~{fragments/fragments::navigationbar(3,${loggedInOrNot})}"></div>
<main>
  <form class="addUser inputForms" method="post" id="form">
    <fieldset>
      <p class="signintitle">Delete Account</p>
      <label><input type="text" id="email" name="email" placeholder="Email" required></label>
      <label><input type="password" id="password" name="password" placeholder="Password"></label>

      <button class="button" id="createPlant" type="submit">Delete</button>
    </fieldset>
  </form>
</main>
<div th:insert="~{/fragments/fragments::footer}">All rights reserved to Team 6&copy;</div>
</body>
</html>